
<%- include('header'); -%>
<div class="container">
    <div class="profile">
        <h1>Your Profile</h1>
        <div class="img">
         <img class = "imag-profile" src="profile.png"/>
        </div>
       
        <h2><%= user.name %></h2>
        
        <span><%= user.email %></span>
        <a href="/logout">Log Out</a>
        <p>thanks for Register!</p>
    </div>
</div>
<%- include('footer'); -%>